OpenAiApiKey=your_openai_api_key_here
StripeSecretKey=your_stripe_secret_key_here
StripePublishableKey=your_stripe_publishable_key_here
StripeWebhookSecret=your_stripe_webhook_secret_here
UnkeyRootKey=your_unkey_root_key_here
UnkeyApiId=your_unkey_api_id_here
ClerkClientSecretKey=your_clerk_client_secret_key_here
ClerkClientWebhookSecret=your_clerk_client_webhook_secret_here
ClerkClientPublishableKey=your_clerk_client_publishable_key_here
ClerkSignInUrl=/sign-in
ClerkSignUpUrl=/sign-up
ResendApiKey=your_resend_api_key_here
